<div class="fsa-grid">
	<div class="fsa-grid__1/1 fsa-grid__1/3@m">
		<p class="fsa-text-size--3">Year: <strong>2020</strong></p>
		<p class="fsa-text-size--3">State: <strong>South Dakota (46)</strong></p>
		<p class="fsa-text-size--3">County: <strong>Codington (029)</strong></p>
	</div>
	<div class="fsa-grid__1/1 fsa-grid__1/3@m">
		<p class="fsa-text-size--3">Producer: <strong>{{ PRODUCER_NAME }}</strong></p>
		<p class="fsa-text-size--3">Commodity: <strong>{{ COMMODITY }}</strong></p>
		<p class="fsa-text-size--3">Class: <strong>{{ CLASS }}</strong></p>
	</div>
	<div class="fsa-grid__1/1 fsa-grid__1/3@m">
		<p class="fsa-text-size--3">Application Type: <strong>{{ APP_TYPE }}</strong></p>
		<p class="fsa-text-size--3">Application Number: <strong>{{ APP_NUMBER }}</strong></p>
		<p class="fsa-text-size--3">Application Status: <strong>{{ APP_STATUS }}</strong></p>
	</div>
</div>