<nav>
  {{#if NAV_USER_COU }}
  <div class="fsa-nav-global">
    <div class="fsa-nav-global__bd">
      <ul class="fsa-nav-global__list" aria-label="Primary Navigation" id="primary-navigation">
        <!-- Menu Item 1 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV1_ACTIVE }}fsa-nav-global__link--active{{/if}}"
            {{#if NAV1_ACTIVE }}href="{{BASE_ROOT}}index_ext_"{{else}}href="index-producer-selection_ext_"{{/if}}
            aria-current="page">
            <span class="fsa-nav-global__text">Home</span>
          </a>
        </li>
        <!-- Menu Item 2 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV2_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="#">
            <span class="fsa-nav-global__text">Producer</span>
          </a>
        </li>
        
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV3_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="#">
            <span class="fsa-nav-global__text">County</span>
          </a>
        </li>

        <li class="fsa-nav-global__list-item">

          <button class="fsa-nav-global__link {{#if NAV4_ACTIVE }}fsa-nav-global__link--active{{/if}} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-593945">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-123456789">Reports</span>
          </button>

          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-593945" aria-hidden="true">

            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-123456789">
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="#">Report One</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="#">Report Two</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="#">Report Three</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="#">Report Four</a>
                </li>
              </ul>
            </div>

          </div>

        </li>


        <li class="fsa-nav-global__list-item">

          <button class="fsa-nav-global__link {{#if NAV5_ACTIVE }}fsa-nav-global__link--active{{/if}} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-00000">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-51423">* DEMO *</span>
          </button>

          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-00000" aria-hidden="true">

            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-51423">
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="{{BASE_ROOT}}county-office/index_ext_">Dashboard</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="{{BASE_ROOT}}county-office/applications/producer-terms_ext_">Producer Terms</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="{{BASE_ROOT}}county-office/applications/select-commodity_ext_">Select Commodity</a>
                </li>
              </ul>
            </div>
          </div>
        </li>



       
      </ul>
    </div>
  </div>
  {{/if}}
  {{#if NAV_USER_PU }}
  <div class="fsa-nav-global">
    <div class="fsa-nav-global__bd">
      <ul class="fsa-nav-global__list" aria-label="Primary Navigation" id="primary-navigation">
        <!-- Menu Item 1 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV1_ACTIVE }}fsa-nav-global__link--active{{/if}}"
            {{#if NAV1_ACTIVE }}href="{{BASE_ROOT}}index_ext_"{{else}}href="index-producer-selection_ext_"{{/if}}
            aria-current="page">
            <span class="fsa-nav-global__text">Home</span>
          </a>
        </li>
        <!-- Menu Item 2 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV2_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="#">
            <span class="fsa-nav-global__text">Producer</span>
          </a>
        </li>
       
      </ul>
    </div>
  </div>
  {{/if}}
</nav>
